# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node / Expo
node_modules/
.expo/
.expo-shared/
web-build/
.vscode/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# React Native / iOS / Android build
android/
ios/
ios/Pods/

# Environment
.env
.env.local
.DS_Store
.idea/
*.keystore
